<html>
    <head>
        <title>Tanabe's Curry</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h>
        </div>

        <div>
            <p>publised :02.05.2020</p>
            <h2><a href="">first post</a></h2>
            <p>Hello! Nice to meet you!!</p>
        </div>

        <div>
            <p>published :02.05.2020</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p>Hello! Nice to see you!!</p>
        </div>
    </body>
</html>